{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% extends 'default_frame.twig' %}

{% set body_class = 'product_page' %}

{% block javascript %}
<script>
    eccube.classCategories = {{ Product.class_categories|json_encode|raw }};
    {% if flg_product_type == app.config.product_type_print %}
    
    	//規格２がラジオボタンの場合にEC-CUBEが対応していないためオーバーライドで独自処理を通過させる
    	eccube.checkStock = function($form, product_id, classcat_id1, classcat_id2) {
    	
	        classcat_id2 = classcat_id2 ? classcat_id2 : '';

	        var classcat2;

	        // 商品一覧時
	        if (eccube.hasOwnProperty('productsClassCategories')) {
	            classcat2 = eccube.productsClassCategories[product_id][classcat_id1]['#' + classcat_id2];
	        }
	        // 詳細表示時
	        else {
	            classcat2 = eccube.classCategories[classcat_id1]['#' + classcat_id2];
	        }

	        // 商品コード
	        var  $product_code = $('#item_code_default');
	        if (typeof this.product_code_origin === 'undefined') {
	            // 初期値を保持しておく
	            this.product_code_origin =  $product_code.text();
	        }
	        if (classcat2 && typeof classcat2.product_code !== 'undefined') {
	            $product_code.text(classcat2.product_code);
	        } else {
	            $product_code.text(this.product_code_origin);
	        }

	        // 在庫(品切れ)
	        var $cartbtn = $('#add-cart');
	        if (classcat2 && classcat2.stock_find === false) {
	            $cartbtn.prop('disabled', true);
	            $cartbtn.text('ただいま品切れ中です');
	        } else {
	            $cartbtn.prop('disabled', false);
	            $cartbtn.html('<svg class="cb cb-shopping-cart" style="font-size: 1.5em; margin-top:-4px;"><use xlink:href="#cb-shopping-cart"></use></svg>カートに入れる');
	        }

	        // 通常価格
	        var $price01 = $('#detail_description_box__class_normal_range_price')
	            .find('.price01_default')
	            .first();
	        if (typeof this.proce01_origin === 'undefined') {
	            // 初期値を保持しておく
	            this.proce01_origin = $price01.text();
	        }
	        if (classcat2 && typeof classcat2.price01 !== 'undefined' && String(classcat2.price01).length >= 1) {
	            //$price01.text('¥ ' + classcat2.price01);
	        } else {
	            //$price01.text(this.proce01_origin);
	        }

	        // 販売価格
	        var $price02 = $('#detail_description_box__class_range_sale_price')
	            .find('.price02_default')
	            .first();
	        if (typeof this.proce02_origin === 'undefined') {
	            // 初期値を保持しておく
	            this.proce02_origin = $price02.text();
	        }
	        if (classcat2 && typeof classcat2.price02 !== 'undefined' && String(classcat2.price02).length >= 1) {
	            //$price02.text('¥ ' + classcat2.price02);
	        } else {
	            //$price02.text(this.proce02_origin);
	        }

	        // ポイント
	        var $point_default = $form.find('[id^=point_default]');
	        var $point_dynamic = $form.find('[id^=point_dynamic]');
	        if (classcat2 && typeof classcat2.point !== 'undefined' && String(classcat2.point).length >= 1) {

	            $point_dynamic.text(classcat2.point).show();
	            $point_default.hide();
	        } else {
	            $point_dynamic.hide();
	            $point_default.show();
	        }

	        // 商品規格
	        var $product_class_id_dynamic = $form.find('[id^=product_class_id]');
	        if (classcat2 && typeof classcat2.product_class_id !== 'undefined' && String(classcat2.product_class_id).length >= 1) {
	            $product_class_id_dynamic.val(classcat2.product_class_id);
	        } else {
	            $product_class_id_dynamic.val('');
	        }
    	}
    {% endif %}

    // 規格1選択時
    $('select[name=classcategory_id1]')
    .change(function() {
        var $form = $(this).parents('form');
        var product_id = $form.find('input[name=product_id]').val();
        var $sele1 = $(this);
        
	    {% if form.classcategory_id2 is defined %}
	    	{% if flg_product_type == app.config.product_type_print %}
	    fnSetClassCategoriesPrint(
	            document.form1, {{ form.classcategory_id2.vars.value|json_encode|raw }}
	    );
	    	{% else %}
	    fnSetClassCategories(
	            document.form1, {{ form.classcategory_id2.vars.value|json_encode|raw }}
	    );
	    	{% endif %}
	    {% endif %}
    });

    // 規格2に選択肢を割り当てる。
    function fnSetClassCategories(form, classcat_id2_selected) {
        var $form = $(form);
        var product_id = $form.find('input[name=product_id]').val();
        var $sele1 = $form.find('select[name=classcategory_id1]');
        var $sele2 = $form.find('select[name=classcategory_id2]');
        eccube.setClassCategories($form, product_id, $sele1, $sele2, classcat_id2_selected);
    }

    // 規格2に選択肢を割り当てる。
    function fnSetClassCategoriesPrint(form, classcat_id2_selected) {

        var $form = $(form);
        var product_id = $form.find('input[name=product_id]').val();
        var $sele1 = $form.find('select[name=classcategory_id1]');
        
        var classcat_id1 = $sele1.val() ? $sele1.val() : '';
        classcat2 = eccube.classCategories[classcat_id1];
        
		var classcat_id1 = $sele1.val() ? $sele1.val() : '';

		//初期化
		$("#classcategory_id2").html("");
		
		//テーブル用DIV
        var table = $('#classcategory_id2');
        
        //table内をクリア
        table.children().remove();

		if ( classcat_id1 == '__unselected' ) {
			$("#classcategory_id2").html("{{ Product.className1 }}が選択されていません。");
			return;
		}
		classcat2 = eccube.classCategories[classcat_id1];

        var th = $('<tr>')
        	//.append('<th style="padding:5px;">&nbsp;</th>')
        	.append('<th colspan="2" style="border-right: 1px solid #fff;padding: 5px 10px;">部数</th>')
        	.append('<th>金額</th>');
        
        table.append($('<thead>').append(th));
        
        var tbody = $('<tbody>');
        var arr_price01 = new Array();
        var arr_price02 = new Array();

        // 規格2の要素を設定
        for (var key in classcat2) {
            if (classcat2.hasOwnProperty(key)) {
                var id = classcat2[key].classcategory_id2;
                var name = classcat2[key].name;
                var price01 = classcat2[key].price01;
                var price02 = classcat2[key].price02;
                var product_class_id = classcat2[key].product_class_id;
                var product_code = classcat2[key].product_code;

				// 通常価格
                if ( typeof price01 !== 'undefined' ) {
		            if ( arr_price01.indexOf(price01) == -1 && price01 != "" ) {
			            arr_price01.push(price01);
		            }
	            }

				// 販売価格
                if ( typeof price02 !== 'undefined' ) {
		            if ( arr_price02.indexOf(price02) == -1 ) {
			            arr_price02.push(price02);
		            }
	            }
	            
                var checked = "";
                var option = $('<option />').val(id ? id : '').text(name);
                if (id === classcat_id2_selected) {
					checked = "checked";
                }
                //未選択は許可しない
                if ( id == "" ) {
                	continue;
                }
                var param_price01 = -1;
                if ( price01 != "" ) {
	                param_price01 = price01.replace(",", "");
                }
                var param_price02 = price02.replace(",", "");
                var param_product_code = product_code;
				if ( param_product_code == "" ) {
					param_product_code = null;
				}

                
                // trタグ生成
		        var td = $('<tr>')
		        	.append('<td style="padding: 5px 2px 5px 10px;"><input type="radio" value="' + id + '" ' + checked + ' onclick="setCate(' + product_class_id + ');setCate2Value(' + param_price01 + ',' + param_price02 + ',\'' + product_code + '\');" required="required" name="classcategory_id2" id="classcategory_id2" /></td>')
		        	.append('<td style="text-align: right;">' + name + '</td>')
		        	.append('<td style="text-align: right; width: 160px;">' + price02 + '円</td>');

		        tbody.append(td);
            }
        }
        table.append(tbody);
        
        //通常価格表示切り替え
        if ( arr_price01.length > 0 ) {
	        price01_start = arr_price01[0];
	        price01_end = arr_price01[arr_price01.length - 1];
	        
	        //金額表示切り替え
	        $("span.price01_default").html("&yen; " + price01_start + " ～ &yen; " + price01_end);

	        document.getElementById("hdn_price1_from").value = price01_start;
	        document.getElementById("hdn_price1_to").value = price01_end;
        }
        
        //販売価格表示切り替え
        price02_start = arr_price02[0];
        price02_end = arr_price02[arr_price02.length - 1];
        
        //金額表示切り替え
        $("span.price02_default").html("&yen; " + price02_start + " ～ &yen; " + price02_end);
    }
    var setCate = function(product_class_id) {
        var form = document.form1;
        var $product_class_id_dynamic = form.product_class_id;
        
        // product_class_idセット
        $product_class_id_dynamic.value = product_class_id;
    };
    
    var setCate2Value = function(price01, price02, product_code) {

		// 通常価格
		if ( price01 > -1 ) {
			var comma_price01 = String(price01).replace( /(\d)(?=(\d\d\d)+(?!\d))/g, '$1,');
	    	$("span.price01_default").html("&yen; " + comma_price01);
    	} else {
    		var price01_start = document.getElementById("hdn_price1_from").value;
    		var price01_end = document.getElementById("hdn_price1_to").value;
			$("span.price01_default").html("&yen; " + price01_start + " ～ &yen; " + price01_end);
    	}

		// 販売価格
		var comma_price02 = String(price02).replace( /(\d)(?=(\d\d\d)+(?!\d))/g, '$1,');
    	$("span.price02_default").html("&yen; " + comma_price02);
    	
    	// 商品コード
    	if ( product_code == null ) {
    		product_code = "";
    	}
    	$("span#item_code_default").html(product_code);
    }

    {% if form.classcategory_id2 is defined %}
    	{% if flg_product_type == app.config.product_type_print %}
    fnSetClassCategoriesPrint(
            document.form1, {{ form.classcategory_id2.vars.value|json_encode|raw }}
    );
    	{% else %}
    fnSetClassCategories(
            document.form1, {{ form.classcategory_id2.vars.value|json_encode|raw }}
    );
    	{% endif %}
    {% endif %}
    
</script>

<script>
$(function(){
    $('.carousel').slick({
        infinite: false,
        speed: 300,
        prevArrow:'<button type="button" class="slick-prev"><span class="angle-circle"><svg class="cb cb-angle-right"><use xlink:href="#cb-angle-right" /></svg></span></button>',
        nextArrow:'<button type="button" class="slick-next"><span class="angle-circle"><svg class="cb cb-angle-right"><use xlink:href="#cb-angle-right" /></svg></span></button>',
        slidesToShow: 4,
        slidesToScroll: 4,
        responsive: [
            {
                breakpoint: 768,
                settings: {
                    slidesToShow: 3,
                    slidesToScroll: 3
                }
            }
        ]
    });

    $('.slides').slick({
        dots: true,
        arrows: false,
        speed: 300,
        customPaging: function(slider, i) {
            return '<button class="thumbnail">' + $(slider.$slides[i]).find('img').prop('outerHTML') + '</button>';
        }
    });

    $('#favorite').click(function() {
        $('#mode').val('add_favorite');
    });

    $('#add-cart').click(function() {
        $('#mode').val('add_cart');
    });
});
</script>

<script>
    function changeAction(action) {
        document.form1.action = action;
    }
</script>
{% endblock %}

{% block main %}
    {# todo ブロック化}
    <div id="topicpath" class="row">
        {% for ProductCategory in Product.ProductCategories %}
        <ol>
            <li><a href="{{ url('product_list') }}">全商品</a></li>
            {% for Category in ProductCategory.Category.path %}
                <li><a href="{{ url('product_list') }}?category_id={{ Category.id }}">{{ Category.name }}</a></li>
            {% endfor %}
            <li>{{ Product.name }}</li>
        </ol>
        {% endfor %}
    </div>
    #}

    <!-- ▼item_detail▼ -->
    <div id="item_detail">
        <div id="detail_wrap" class="row">
            <!--★画像★-->
            <div id="item_photo_area" class="col-sm-6">
                <div id="detail_image_box__slides" class="slides">
                    {% if Product.ProductImage|length > 0 %}
                        {% for ProductImage in Product.ProductImage %}
                        <div id="detail_image_box__item--{{ loop.index }}"><img src="{{ app.config.image_save_urlpath }}/{{ ProductImage|no_image_product }}"/></div>
                        {% endfor %}
                    {% else %}
                        <div id="detail_image_box__item"><img src="{{ app.config.image_save_urlpath }}/{{ ''|no_image_product }}"/></div>
                    {% endif %}
                </div>
            </div>

            <section id="item_detail_area" class="col-sm-6">

                <!--★商品名★-->
                <h3 id="detail_description_box__name" class="item_name">{{ Product.name }}</h3>
                <div id="detail_description_box__body" class="item_detail">

                    {% if Product.ProductTag is not empty %}
                        <!--▼商品タグ-->
                        <div id="product_tag_box" class="product_tag">
                            {% for ProductTag in Product.ProductTag %}
                                <span id="product_tag_box__product_tag--{{ ProductTag.Tag.id }}" class="product_tag_list">{{ ProductTag.Tag }}</span>
                            {% endfor %}
                        </div>
                        <hr>
                        <!--▲商品タグ-->
                    {% endif %}

                    <!--★通常価格★-->
                    {% if Product.hasProductClass -%}
                        {% if Product.getPrice01Min is not null and Product.getPrice01Min == Product.getPrice01Max %}
                        <p id="detail_description_box__class_normal_price" class="normal_price"> 通常価格：<span class="price01_default">{{ Product.getPrice01IncTaxMin|price }}</span> <span class="small">税込</span></p>
                        {% elseif Product.getPrice01Min is not null and Product.getPrice01Max is not null %}
                        <p id="detail_description_box__class_normal_range_price" class="normal_price"> 通常価格：<span class="price01_default">{{ Product.getPrice01IncTaxMin|price }} ～ {{ Product.getPrice01IncTaxMax|price }}</span> <span class="small">税込</span></p>
                        {% endif %}
                    {% else -%}
                        {% if Product.getPrice01Max is not null %}
                        <p id="detail_description_box__normal_price" class="normal_price"> 通常価格：<span class="price01_default">{{ Product.getPrice01IncTaxMin|price }}</span> <span class="small">税込</span></p>
                        {% endif %}
                    {% endif -%}

                    <!--★販売価格★-->
                    {% if Product.hasProductClass -%}
                        {% if Product.getPrice02Min == Product.getPrice02Max %}
                        <p id="detail_description_box__class_sale_price" class="sale_price text-primary"> <span class="price02_default" id="price02_default">{{ Product.getPrice02IncTaxMin|price }}</span> <span class="small">税込</span></p>
                        {% else %}
                        <p id="detail_description_box__class_range_sale_price" class="sale_price text-primary"> <span class="price02_default">{{ Product.getPrice02IncTaxMin|price }} ～ {{  Product.getPrice02IncTaxMax|price }}</span> <span class="small">税込</span></p>
                        {% endif %}
                    {% else -%}
                        <p id="detail_description_box__sale_price" class="sale_price text-primary"> <span class="price02_default" id="price02_default">{{ Product.getPrice02IncTaxMin|price }}</span> <span class="small">税込</span></p>
                    {% endif -%}

{# A => 商品オプションプラグイン #}
<!-- option_price -->
{# A => 商品オプションプラグイン #}

                    <!--▼商品コード-->
                    <p id="detail_description_box__item_range_code" class="item_code">商品コード： <span id="item_code_default">
                        {{ Product.code_min }}
                        {% if Product.code_min != Product.code_max %} ～ {{ Product.code_max }}{% endif %}
                        </span> </p>
                    <!--▲商品コード-->

                    <!-- ▼関連カテゴリ▼ -->
                    <div id="relative_category_box" class="relative_cat">
                        <p>関連カテゴリ</p>
                          {% for ProductCategory in Product.ProductCategories %}
                        <ol id="relative_category_box__relative_category--{{ ProductCategory.product_id }}_{{ loop.index }}">
                            {% for Category in ProductCategory.Category.path %}
                            <li><a id="relative_category_box__relative_category--{{ ProductCategory.product_id }}_{{ loop.parent.loop.index }}_{{ Category.id }}" href="{{ url('product_list') }}?category_id={{ Category.id }}">{{ Category.name }}</a></li>
                            {% endfor %}
                        </ol>
                        {% endfor %}
                    </div>
                    <!-- ▲関連カテゴリ▲ -->

                    <form action="?" method="post" id="form1" name="form1">
                    	<input type="hidden" id="hdn_price1_from" name="hdn_price1_from" value="" />
                    	<input type="hidden" id="hdn_price1_to" name="hdn_price1_to" value="" />
                        <!--▼買い物かご-->
                        <div id="detail_cart_box" class="cart_area">
                            {% if Product.stock_find %}

                                {# 規格 #}
                                {% if form.classcategory_id1 is defined %}
                                <ul id="detail_cart_box__cart_class_category_id" class="classcategory_list">
                                    {% if flg_product_type == app.config.product_type_print %}
                                    <li>
                                     <div>{{ Product.className1 }}</div>
                                    {% if form.classcategory_id2 is defined %}
                                        {{ form_widget(form.classcategory_id1) }}
                                        {{ form_errors(form.classcategory_id1) }}
                                        {% if form_errors(form.classcategory_id1) == '入力されていません。' %}
                                            <p class="errormsg text-danger"><span id="error_msg_classcategory_id1"></span></p>
                                        {% endif %}
                                    {% else %}
		                                <table border="0" cellpadding="4" cellspacing="0">
		                                <tr>
		                                <!-- th>&nbsp;</th -->
                                                <th colspan="2">部数</th>
		                                <th>金額</th>
		                                </tr>
		                                {% for item in ProductClass1 %}
		                                <tr>
		                                <td style="padding: 5px 2px 5px 10px;"><input type="radio" required="required" name="classcategory_id1" id="classcategory_id1" value="{{item.class_category_id}}" onclick="setCate({{ item.product_class_id }});setCate2Value('{{ item.price01 }}','{{item.price02}}','{{item.product_code}}');" /></td>
		                                <td style="text-align: right;">{{ item.class_name }}</td>
		                                <td style="text-align: right; width: 160px;">{% if item.price01 != item.price02 %}{{ item.price02|number_format(0, '.', ',') }}{% else %}{{ item.price01|number_format(0, '.', ',') }}{% endif %}円</td>
		                                </tr>
		                                {% endfor %}
		                                </table>
                                        {{ form_errors(form.classcategory_id1) }}
                                    {% endif %}
                                    </li>
                                    {% else %}
                                    <li>
										<div>{{ Product.className1 }}</div>
                                        {{ form_widget(form.classcategory_id1) }}
                                        {{ form_errors(form.classcategory_id1) }}
                                    </li>
                                    {% endif %}
                                    </li>
                                    {% if form.classcategory_id2 is defined %}
                                        <li>
	                                     <div>{{ Product.className2 }}</div>
                                            {{ form_widget(form.classcategory_id2) }}
                                            {{ form_errors(form.classcategory_id2) }}
                                            {% if form_errors(form.classcategory_id2) == '入力されていません。' %}
                                                <p class="errormsg text-danger"><span id="error_msg_classcategory_id2"></span></p>
                                            {% endif %}
                                        </li>
                                     {% endif %}
                                </ul>
                                {% endif %}

                                {# 数量 #}
                                <dl id="detail_cart_box__cart_quantity" class="quantity">
                                    {% if flg_product_type != app.config.product_type_print %}<dt>数量</dt>{% endif %}
                                    <dd>
                                        {{ form_widget(form.quantity) }}
                                        {{ form_errors(form.quantity) }}
                                    </dd>
                                </dl>

                                <div class="extra-form">
                                    {% for f in form.getIterator %}
                                        {% if f.vars.name matches '[^plg*]' %}
                                            {{ form_row(f) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                {# カートボタン #}
                                <div id="detail_cart_box__button_area" class="btn_area">
                                    <ul id="detail_cart_box__insert_button" class="row" style="text-align: center;">
                                        <li style="display: inline-block; width: 45%;"><button type="submit" id="add-cart" class="btn btn-primary btn-block prevention-btn prevention-mask"><svg class="cb cb-shopping-cart" style="font-size: 1.5em; margin-top:-4px;"><use xlink:href="#cb-shopping-cart"></use></svg>カートに入れる</button></li>
                                    
                                    {% if BaseInfo.option_favorite_product == 1 %}
                                    
                                        {% if is_favorite == false %}
                                            <li style="display: inline-block; width: 45%; margin-left: 20px;"><button type="submit" id="favorite" class="btn btn-info btn-block prevention-btn prevention-mask"><svg class="cb cb-heart" style="font-size: 1.5em; margin-top:-4px;"><use xlink:href="#cb-heart"></use></svg>お気に入りに追加</button></li>
                                        {% else %}
                                            <li style="display: inline-block; width: 45%; margin-left: 20px;"><button type="submit" id="favorite" class="btn btn-info btn-block" disabled="disabled"><svg class="cb cb-heart" style="font-size: 1.5em; margin-top:-4px;"><use xlink:href="#cb-heart"></use></svg>お気に入り追加済</button></li>
                                        {% endif %}
                                    </ul>
                                    {% endif %}
                                </div>
                            {% else %}
                                {# 在庫がない場合は品切れボタンのみ表示 #}
                                <div id="detail_cart_box__button_area" class="btn_area">
                                    <ul class="row">
                                        <li class="col-xs-12 col-sm-8"><button type="button" class="btn btn-default btn-block" disabled="disabled">ただいま品切れ中です</button></li>
                                    </ul>
                                </div>
                            {% endif %}
                        </div>
                        <!--▲買い物かご-->
                        {# D => 削除 #}
                        {#{ form_rest(form) }#}
                        {# D => 削除 #}
                        <input type="hidden" class="form-control" name="product_class_id" id="product_class_id" value="{{ product_class_id }}" />
                        <input type="hidden" class="form-control" name="mode" id="mode" value="" />
                        <input id="product_id" name="product_id" class="form-control" value="{{ Product.id }}" type="hidden">
                        {{ form_widget(form._token) }}
                        
                    </form>

                    <!--★商品説明★-->
                    <p id="detail_not_stock_box__description_detail" class="item_comment">{{ Product.description_detail|raw|nl2br }}</p>

                </div>
                <!-- /.item_detail -->

            </section>
            <!--詳細ここまで-->
        </div>

        {# フリーエリア #}
        {% if Product.freearea %}
        <div id="sub_area" class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <div id="detail_free_box__freearea" class="freearea">{{ include(template_from_string(Product.freearea)) }}</div>
            </div>
        </div>
        {% endif %}
    </div>
    <!-- ▲item_detail▲ -->
{% endblock %}