{% extends 'default_frame.twig' %}

{% block main %}
    <div id="contents" class="main_only">
        <div id="guide_wrap" class="container-fluid inner no-padding">
            <div id="main">
                <h1 class="page-heading">データ作成ガイド</h1>
                <div id="guide_box__body"  class="container-fluid">
                    <div id="guide_box__body_inner" class="row">
                        <div id="guide_box__body_item" class="col-md-10 col-md-offset-1">
                        
                        <div class="guide-h2">入稿データについて</div>
                        
                         <div class="data-h3">データ形式とテンプレートについて</div>
                        <div class="data-caption">
                        入稿データ形式は<b>「PDF/X-1a」「PDF/X-4」</b>に対応しております。<br><br>
                        冊子のデータ入稿の場合は、<b>表紙のデータと本文のデータとの二つが必要</b>です。<br>
                        また表裏のある商品も<b>表面データのPDFと裏面データのPDF、別々のPDFが必要</b>ですので、<br>
                        それぞれのPDFファイルを、<b>zipファイルとしてまとめたもの</b>をご入稿ください。<br><br>
アップロードできる<b>ファイルサイズの上限は、300MB</b>となっております。<br>
データサイズが300MBを超えている場合は、<b>サイト上で受注することができません</b>ので、<br>
<a href="{{ url('contact') }}">お問い合わせフォーム</a>より別途、ご相談下さい。<br>
                        </div>
                        <div class="data-img"><img src="{{ app.config.front_urlpath }}/img/top/X-4.png" alt=""/></div>
                        
                        <div class="data-caption">
                        制作用データには、当サイト<b>指定のテンプレート</b>を使用をお勧めします。<br><br>
製品のテンプレートを<b>Aiファイル</b>でご用意しております。<br>
                        その際のデータ制作には、<b>Illustrator</b>をご使用下さい。<br>
                        当サイトの指定テンプレート以外を用いて作成されたデータの品質は、保証いたしません。<br>
                        また、必ず<b>注文する商品のサイズ</b>で作成し、中に入る絵柄をデザインしてください。<br><br>
                        作成された<b>データのサイズはチェックされません</b>ので、商品サイズとテンプレートのサイズが違う場合でも、<br>
                        そのまま印刷工程に進行いたします。<br><br>
                        当サイトのサービス上、頂いた入稿データは基本的に、<b>そのままの状態で出力</b>されます。<br>
                        内容のチェックや入稿後の編集などは致しませんので、<br>
                        必ず間違いのないデータの入稿をお願い致します。
                        <br><br>
                        <a href="{{ url(app.config.user_data_route, {"route": "template"} )}} ">→【製品別テンプレート一覧】はコチラ。</a></div>
                        
                        <div class="data-caption">
                        データチェックでは<b>全てのデータミスを見つけることはできません。</b><br><br>
事前にデータを良く確認してご入稿下さい。
                        </div>
                        <div class="data-img"><img src="{{ app.config.front_urlpath }}/img/top/checklist.png" alt=""/></div>
                        
                        
                        <div class="data-h3">印刷用データ作成時の注意点</div>
                        <div class="data-caption">
                        紙端までデザイン（背景色・写真）がある場合、必ず<b>「塗り足し」</b>を付けてください。<br><br>
                        色と色の境目ぴったりを、少しもずれずに用紙を断裁することは困難です。<br>
                        断裁機の僅かな位置ズレにより、紙の白場が見えてしまうのを防ぐため、<br>
                        仕上がりサイズの外側に<b>3mm以上</b>、わざと<b>はみ出すように余分にデザイン</b>しておくことを<br>
                        「塗り足し」といいます。</div>
                        <div class="data-img"><img src="{{ app.config.front_urlpath }}/img/top/data-1.png" alt=""/></div>
                        <div class="data-caption">
                        紙端付近に配置された文字は、<b>切れてしまう可能性</b>があります。<br><br>
                        「塗り足し」でも説明したように、断裁にはズレが生じる可能性があります。<br>
                        仕上がりサイズの内側ギリギリに文字や図形などを置くと、<br>
                        <b>意図しない部分まで切れてしまう</b>可能性があります。<br><br>
                        切れて困る文字は、仕上がり線より<b>3mm以上内側</b>に収まるよう配置してください。</div>
                        <div class="data-img"><img src="{{ app.config.front_urlpath }}/img/top/data-2.png" alt=""/></div>
                        
                        <div class="data-caption">
                        絵柄は必ずPDFの<b>センターに配置</b>して下さい。<br><br>
                        絵柄データは必ず、ドキュメント（アートボード）に対してセンター配置してください。</div>
                        <div class="data-img"><img src="{{ app.config.front_urlpath }}/img/top/data-5.jpg" alt=""/></div>
                        <div class="data-caption">
                        特に、<b>冊子の背幅調整時にセンターがズレる</b>事が多いのでご注意ください。<br><br>
                        </div>
                        <div class="data-img"><img src="{{ app.config.front_urlpath }}/img/top/data-7.jpg" alt=""/></div>
                        
                        <div class="data-caption">
                        <b>オーバープリント</b>（ノセヌキ）の設定は<b>データ上での確認</b>をお願いします。<br><br>
                        入稿データのオーバープリント設定がそのまま反映されます。<br>
                        Illustrator / InDesign でデータを作成する際、カラーに関する属性で「塗り（線）にオーバープリント」<br>
                        にチェックを入れることで、オーバープリントになる機能があります。<br>
                        この設定をオンにしている場合、<b>予期しない箇所でオーバープリントが反映される</b>場合があるなど、<br>
                        トラブルの原因となります。<br>
                        　「墨ノセ」処理を行う場合以外は、オーバープリントのチェックを外した状態で、データを作成してください。</div>
                        <div class="data-img"><img src="{{ app.config.front_urlpath }}/img/top/data-6.jpg" alt=""/></div>
                        
                        <div class="data-caption">
                        印刷用データのカラーモードは<b>“CMYK”</b>モードです。<br><br>
                        一般的なデジカメ画像やWeb画像などで使われているRGBモードのデータの場合は、<br>
                        色調が正しく再現されない場合があります。<br><br>
                        また、<b>特色は使用できません</b>。<br>
                        入稿時に必ず<b>「プロセスカラー」へ変換</b>をお願いします。</div>
                        <div class="data-img"><img src="{{ app.config.front_urlpath }}/img/top/data-3.png" alt=""/></div>
                        <div class="data-caption">
                        印刷用データとして利用する画像の解像度は、<b>350dpi以上</b>が必要です。<br><br>
                        Webなどで使われる画像解像度が低いデータを利用した場合、<br>
                        印刷物では粗く再現されてしまいます。<br><br>
                        解像度（dpi）は、デジタル画像のきめの細やかさを表します。<br>
                        印刷に使用される画像は、解像度350dpi前後あれば、充分な印刷品質を保つことができます。</div>
                        <div class="data-img"><img src="{{ app.config.front_urlpath }}/img/top/data-4.png" alt=""/></div>
                        
                        
                        <div class="data-h3">PDF/X-4の作成手順（Illustratorの場合）</div>
                        <div class="data-caption">
                        絵柄が、PDFデータに対してセンター配置されている必要があります。<br><br>
                        絵柄がアートボードに対してセンター配置されていない場合は、以下の手順でセンター配置することができます。</div>
                        <div class="data-img"><img src="{{ app.config.front_urlpath }}/img/top/nyuuko5-4.jpg" alt=""/></div>
                        <div class="data-caption">
                        特色やオーバープリントが無いか確認してください。<br><br>
                        用途があって特色を使用する場合以外は、スウォッチの「特色」を「プロセスカラー」に変換してください。<br>
                        「プロセスカラー」に変換されていない場合、透明機能との兼ね合いで不具合が発生する可能性があります<br>
                        <div class="data-img"><img src="{{ app.config.front_urlpath }}/img/top/nyuuko5-5.jpg" alt=""/></div>   
                        また、データ内にオーバープリント設定が入っている場合は、設定通りに出力されてしまいますので、注意してください。<br>
                        「オーバープリントプレビュー」で、実際の出力表示をプレビュー確認することができます。
                        <div class="data-img"><img src="{{ app.config.front_urlpath }}/img/top/nyuuko5-6.jpg" alt=""/></div>
                        </div>
                        <div class="data-caption">
                        【参考】PDFの書き出しの流れ<br><br></div>
                        <div class="data-img"><img src="{{ app.config.front_urlpath }}/img/top/nyuuko5-7.jpg" alt=""/>
                        <img src="{{ app.config.front_urlpath }}/img/top/nyuuko5-8.jpg" alt=""/>
                        <img src="{{ app.config.front_urlpath }}/img/top/nyuuko5-9.jpg" alt=""/></div>
                        
                        <div class="data-h3">PDF/X-4の作成手順（InDesignの場合）</div>
                        <div class="data-caption">
                        ドキュメントサイズが、仕上がりサイズと同じになっていることを確認してください。<br><br>
                        PDFはドキュメントサイズで書き出されます。<br>
                        裁ち落としは全て15mmにしてください。 ドキュメント内にパーツが正しく配置されているかを確認してください。</div>
                        <div class="data-img"><img src="{{ app.config.front_urlpath }}/img/top/nyuuko5-10.jpg" alt=""/></div>
                        <div class="data-caption">
                        特色やオーバープリントが無いか確認してください。<br><br>
                        用途があって特色を使用する場合以外は、スウォッチの「特色」を「プロセスカラー」に変換してください。<br>
                        「プロセスカラー」に変換されていない場合、透明機能との兼ね合いで不具合が発生する可能性があります<br>
                        <div class="data-img"><img src="{{ app.config.front_urlpath }}/img/top/nyuuko5-11.jpg" alt=""/></div>   
                        また、データ内にオーバープリント設定が入っている場合は、設定通りに出力されてしまいますので、注意してください。<br>
                        「オーバープリントプレビュー」で、実際の出力表示をプレビュー確認することができます。
                        <div class="data-img"><img src="{{ app.config.front_urlpath }}/img/top/nyuuko5-12.jpg" alt=""/></div>
                        </div>
                        <div class="data-caption">
                        【参考】PDFの書き出しの流れ<br><br></div>
                        <div class="data-img"><img src="{{ app.config.front_urlpath }}/img/top/nyuuko5-13.jpg" alt=""/>
                        <img src="{{ app.config.front_urlpath }}/img/top/nyuuko5-14.jpg" alt=""/>
                        <img src="{{ app.config.front_urlpath }}/img/top/nyuuko5-15.jpg" alt=""/></div>
                        
                        </div>
                      </div><!-- /.col -->
                    </div><!-- /.row -->

                </div>
            </div>
        </div>
    </div>
{% endblock %}