{% extends 'default_frame.twig' %}

{% block main %}
    <div id="contents" class="main_only">
        <div id="guide_wrap" class="container-fluid inner no-padding">
            <div id="main">
                <h1 class="page-heading"><img src="{{ app.config.front_urlpath }}/img/top/pricelist-title.jpg" width="100%"/></h1>
                <div id="guide_box__body"  class="container-fluid">
                    <div id="guide_box__body_inner" class="row">
                        <div id="guide_box__body_item">
                        
                        
                       <div class="pricelist-caption">
                        決済額の関係で、当サイトでは、当社で製作可能なすべての仕様の冊子を掲載出来ておりません。<br>
                        しかし、商品ページで購入可能なページ数、部数のもの以外の規格の製品についても承ることが可能です。<br>
                        このページに掲載している料金表は、最大1000Pを5000部まで注文した際の料金の一覧を掲載しております。<br>
                        サイトで決済できない規格の商品についても、<a href="{{ url('contact') }}">お問い合わせフォーム</a>より、お気軽にお問い合わせください。</div>
                        
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a54011-R.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a54011.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a54011-L.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a54011.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a54022-R.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a54022.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a54022-L.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a54022.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a54044-R.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a54044.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a54044-L.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a54044.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>                        
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a54411-R.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a54411.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a54411-L.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a54411.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a54422-R.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a54422.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a54422-L.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a54422.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a54444-R.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a54444.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a54444-L.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a54444.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-b54011-R.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-b54011.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-b54011-L.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-b54011.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-b54022-R.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-b54022.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-b54022-L.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-b54022.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-b54044-R.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-b54044.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-b54044-L.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-b54044.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-b54411-R.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-b54411.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-b54411-L.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-b54411.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-b54422-R.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-b54422.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-b54422-L.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-b54422.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-b54444-R.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-b54444.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-b54444-L.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-b54444.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a44011-R.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a44011.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a44011-L.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a44011.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a44022-R.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a44022.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a44022-L.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a44022.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a44044-R.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a44044.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a44044-L.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a44044.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a44411-R.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a44411.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a44411-L.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a44411.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a44422-R.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a44422.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a44422-L.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a44422.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a44444-R.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a44444.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a44444-L.jpg"/></div>
                          <div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a44444.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>
                          <div class="pricelist-link-item"><a href="#" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                        
                      </div>
                        
                        


                      </div><!-- /.col -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}