{% extends 'default_frame.twig' %}

{% block main %}
    <div id="contents" class="main_only">
        <div id="guide_wrap" class="container-fluid inner no-padding">
            <div id="main">
                <h1 class="page-heading"><img src="{{ app.config.front_urlpath }}/img/top/pricelist-title.jpg" width="100%"/></h1>
                <div id="guide_box__body"  class="container-fluid">
                    <div id="guide_box__body_inner" class="row">
                        <div id="guide_box__body_item">
                        
                        
                       <div class="pricelist-caption">
                        当サイトにて購入可能なページ数、部数のもの以外の規格の製品についても承ることが可能です。また、高額の決済・大口の取引・継続取引など、オンラインで対応できない案件も、<a href="{{ url('contact') }}">お問い合わせフォーム</a>より、お気軽にお問い合わせください。専任の担当営業がご対応いたします。<br></div>
                        
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><a href="https://well-direct.com/products/detail/133" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a54011.jpg"/></a></div>
                          <!--<div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a54011.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>-->
                          <div class="pricelist-link-item"><a href="https://well-direct.com/products/detail/133" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>

                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><a href="https://well-direct.com/products/detail/25" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a54022.jpg"/></a></div>
                          <!--<div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a54022.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>-->
                          <div class="pricelist-link-item"><a href="https://well-direct.com/products/detail/25" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>

                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><a href="https://well-direct.com/products/detail/31" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a54044.jpg"/></a></div>
                          <!--<div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a54044.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>-->
                          <div class="pricelist-link-item"><a href="https://well-direct.com/products/detail/31" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>
                       
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><a href="https://well-direct.com/products/detail/37" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a54411.jpg"/></a></div>
                          <!--<div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a54411.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>-->
                          <div class="pricelist-link-item"><a href="https://well-direct.com/products/detail/37" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>

                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><a href="https://well-direct.com/products/detail/43" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a54422.jpg"/></a></div>
                          <!--<div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a54422.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>-->
                          <div class="pricelist-link-item"><a href="https://well-direct.com/products/detail/43" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>

                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><a href="https://well-direct.com/products/detail/49" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a54444.jpg"/></a></div>
                          <!--<div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a54444.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>-->
                          <div class="pricelist-link-item"><a href="https://well-direct.com/products/detail/49" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>

                        
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><a href="https://well-direct.com/products/detail/55" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/w-ms-b54011.jpg"/></a></div>
                          <!--<div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-b54011.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>-->
                          <div class="pricelist-link-item"><a href="https://well-direct.com/products/detail/55" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>

                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><a href="https://well-direct.com/products/detail/61" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/w-ms-b54022.jpg"/></a></div>
                          <!--<div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-b54022.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>-->
                          <div class="pricelist-link-item"><a href="https://well-direct.com/products/detail/61" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>

                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><a href="https://well-direct.com/products/detail/67" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/w-ms-b54044.jpg"/></a></div>
                          <!--<div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-b54044.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>-->
                          <div class="pricelist-link-item"><a href="https://well-direct.com/products/detail/67" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>

                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><a href="https://well-direct.com/products/detail/73" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/w-ms-b54411.jpg"/></a></div>
                          <!--<div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-b54411.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>-->
                          <div class="pricelist-link-item"><a href="https://well-direct.com/products/detail/73" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>

                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><a href="https://well-direct.com/products/detail/79" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/w-ms-b54422.jpg"/></a></div>
                          <!--<div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-b54422.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>-->
                          <div class="pricelist-link-item"><a href="https://well-direct.com/products/detail/79" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>

                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><a href="https://well-direct.com/products/detail/85" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/w-ms-b54444.jpg"/></a></div>
                          <!--<div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-b54444.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>-->
                          <div class="pricelist-link-item"><a href="https://well-direct.com/products/detail/85" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>

                        
                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><a href="https://well-direct.com/products/detail/91" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a44011.jpg"/></a></div>
                          <!--<div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a44011.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>-->
                          <div class="pricelist-link-item"><a href="https://well-direct.com/products/detail/91" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>

                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><a href="https://well-direct.com/products/detail/97" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a44022.jpg"/></a></div>
                          <!--<div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a44022.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>-->
                          <div class="pricelist-link-item"><a href="https://well-direct.com/products/detail/97" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>

                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><a href="https://well-direct.com/products/detail/103" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a44044.jpg"/></a></div>
                          <!--<div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a44044.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>-->
                          <div class="pricelist-link-item"><a href="https://well-direct.com/products/detail/103" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>

                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><a href="https://well-direct.com/products/detail/109" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a44411.jpg"/></a></div>
                          <!--<div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a44411.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>-->
                          <div class="pricelist-link-item"><a href="https://well-direct.com/products/detail/109" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>

                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><a href="https://well-direct.com/products/detail/115" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a44422.jpg"/></a></div>
                          <!--<div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a44422.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>-->
                          <div class="pricelist-link-item"><a href="https://well-direct.com/products/detail/115" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>

                        <div class="pricelist-box col-md-2 col-sm-3 col-xs-6">
                          <div><a href="https://well-direct.com/products/detail/121" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/w-ms-a44444.jpg"/></a></div>
                          <!--<div class="pricelist-link-pdf"><a href="{{ app.config.front_urlpath }}/img/top/w-ms-a44444.pdf" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/show-pricelist.png"/></a></div>-->
                          <div class="pricelist-link-item"><a href="https://well-direct.com/products/detail/121" target="_blank"><img src="{{ app.config.front_urlpath }}/img/top/goto-itempage.png"/></a></div>
                        </div>

                        
                      </div>
                        
                        


                      </div><!-- /.col -->
                    </div><!-- /.row -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}