{% extends 'default_frame.twig' %}

{% block main %}
    <div id="contents" class="main_only">
        <div id="guide_wrap" class="container-fluid inner no-padding">
            <div id="main">
                <h1 class="page-heading">製品別テンプレート</h1>
                <div id="guide_box__body"  class="container-fluid">
                    <div id="guide_box__body_inner" class="row">
                        <div id="guide_box__body_item" class="col-md-10 col-md-offset-1">
                        
                       <div class="guide-h2">印刷テンプレート　ダウンロード</div>
                        <div class="guide-caption">
                        印刷データ作成用のテンプレート一覧です。<br>
                        必ずご注文される商品に応じたテンプレートをご利用ください。</div>
                        
                        <!--<div class="temp-waku temp-waku1">
                        <div class="size-bar">ハガキサイズ</div>
                          <div class="oneside"><b>片面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                          <div class="oneside"><b>両面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                        </div>-->
                        
                        <!--<div class="temp-waku temp-waku2">
                        <div class="size-bar">B5サイズ</div>
<div class="oneside"><b>片面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                          <div class="oneside"><b>両面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                          <div class="size-bar2">A4サイズ</div>
                         
<div class="oneside"><b>片面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                          <div class="oneside"><b>両面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                          <div class="size-bar2">B4サイズ</div>
<div class="oneside"><b>片面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                          <div class="oneside"><b>両面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                          <div class="size-bar2">A3サイズ</div>
                         
<div class="oneside"><b>片面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                          <div class="oneside"><b>両面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                        </div>-->
                        
                        <!--<div class="temp-waku temp-waku3">
                        <div class="size-bar-s">B3サイズ</div><div class="size-bar-s">A2サイズ</div>
<div class="oneside"><b>片面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                          <div class="oneside"><b>片面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                        </div>-->
                        
                        <!--<div class="temp-waku temp-waku4">
                        <div class="size-bar">仕上がりB6サイズ</div>
<div class="oneside"><b>片面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                          <div class="oneside"><b>両面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                          <div class="size-bar2">仕上がりA5サイズ</div>
                         
<div class="oneside"><b>片面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                          <div class="oneside"><b>両面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                          <div class="size-bar2">仕上がりB5サイズ</div>
<div class="oneside"><b>片面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                          <div class="oneside"><b>両面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                          <div class="size-bar2">仕上がりA4サイズ</div>
                         
<div class="oneside"><b>片面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                          <div class="oneside"><b>両面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                        </div>-->
                        
                        <!--<div class="temp-waku temp-waku5">
                        <div class="size-bar">B5サイズを三つ折り</div>
<div class="oneside"><b>片面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                          <div class="oneside"><b>両面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                          <div class="size-bar2">A4サイズを三つ折り</div>
                         
<div class="oneside"><b>片面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                          <div class="oneside"><b>両面印刷用テンプレート</b><a href="#"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
                        </div>-->
                        
                        <div class="temp-waku temp-waku6">
                        <div class="size-bar-s">表紙</div><div class="size-bar-s">本文</div>

<div class="oneside"><b>A5用テンプレート</b><a href="http://www.well-corp.jp/template/A5_hyoushi.zip"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
<div class="oneside"><b>A5用テンプレート</b><a href="http://www.well-corp.jp/template/A5_honbun.zip"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
<div class="oneside"><b>B5用テンプレート</b><a href="http://www.well-corp.jp/template/B5_hyoushi.zip"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
<div class="oneside"><b>B5用テンプレート</b><a href="http://www.well-corp.jp/template/B5_honbun.zip"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
<div class="oneside"><b>A4用テンプレート</b><a href="http://www.well-corp.jp/template/A4_hyoushi.zip"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>
<div class="oneside"><b>A4用テンプレート</b><a href="http://www.well-corp.jp/template/A4_honbun.zip"><img src="{{ app.config.front_urlpath }}/img/top/download-button.png" width="280" height="50" alt=""/></a></div>

                          <div class="temp-caption">※表紙テンプレートはページ数によって、背幅を変更してご使用ください。<br>
                           　 詳しくはテンプレート内の説明書きをご覧ください。<br>
                           ※本文テンプレートは、商品のページ数に応じて、必要な数だけ複製してご利用ください。<br>
                           　 その際、ファイル名にページ数を明記してください。<br>
　　(例：「p●●●_A4(サイズ名)_honbun_○○○.pdf)<br>
                           ※表紙と本文のデータは、それぞれPDFで書き出したのち、一つのフォルダにまとめ、<br>
                           そのフォルダをzip形式で圧縮して入稿してください。</div>
                        </div>
              </div>

                      </div><!-- /.col -->
                    </div><!-- /.row -->

                </div>
            </div>
        </div>
    </div>
{% endblock %}