{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
<div class="container-fluid inner">
    <ul>
        <!--li><a href="{{ url('help_about') }}">当サイトについて</a></li-->
<li><a href="{{ url('help_agreement') }}" target="_blank">利用規約</a></li>
        <li><a href="{{ url('help_privacy') }}">個人情報に関する取扱いについて</a></li>
        <li><a href="{{ url('help_tradelaw') }}">特定商取引法に基づく表記</a></li>
        <li><a href="{{ url('contact') }}">お問い合わせ</a></li>
    </ul>
    <div class="footer_logo_area">
        <p class="logo"><a href="{{ url('homepage') }}"><img src="{{ app.config.front_urlpath }}/img/top/logo.png"></a></p>
<!--<p class="logo"><a href="{{ url('homepage') }}">{{ BaseInfo.shop_name }}</a></p>-->
        <p class="copyright">
            <small>copyright (c) 2016 {{ BaseInfo.shop_name }} all rights reserved.</small>
        </p>
    </div>
</div>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-PNBQN8H');</script>
<!-- End Google Tag Manager -->
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PNBQN8H"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->