{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}
{% if is_granted('ROLE_USER') %}
     <div id="member" class="member drawer_block pc">
        <ul class="member_link">
            <li>
                <a href="{{ url('mypage') }}">
                    <img src="{{ app.config.front_urlpath }}/img/top/sub-icon1.gif"><b>マイページ</b>
                </a>
            </li>
 <li>
                <a href="{{ url('logout') }}">
                    <img src="{{ app.config.front_urlpath }}/img/top/sub-icon2.gif"><b>ログアウト</b>
                </a>
            </li>
                <li><a href="{{ url('contact') }}"><img src="{{ app.config.front_urlpath }}/img/top/sub-icon3.gif"><b>お問い合わせ</b></a></li>

           
        </ul>
    </div>
{% else %}
    <div id="member" class="member drawer_block pc">
        <ul class="member_link">
            <li>
                <a href="{{ url('entry') }}">
                    <img src="{{ app.config.front_urlpath }}/img/top/sub-icon1.gif"><b>新規会員登録</b>
                </a>
            </li>
            
            <li>
                <a href="{{ url('mypage_login') }}">
                    <img src="{{ app.config.front_urlpath }}/img/top/sub-icon2.gif"><b>ログイン</b>
                </a>
            </li>
<li><a href="{{ url('contact') }}"><img src="{{ app.config.front_urlpath }}/img/top/sub-icon3.gif"><b>お問い合わせ</b></a></li>
        </ul>
    </div>
{% endif %}