{#
This file is part of EC-CUBE

Copyright(c) 2000-2015 LOCKON CO.,LTD. All Rights Reserved.

http://www.lockon.co.jp/

This program is free software; you can redistribute it and/or
modify it under the terms of the GNU General Public License
as published by the Free Software Foundation; either version 2
of the License, or (at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program; if not, write to the Free Software
Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA  02111-1307, USA.
#}

<div id="contents_top">
<div id="item_list2">

    <div class="row">
        <div class="col-sm-4 col-xs-6">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/box-banner1.jpg"></div>
<div class="item_name">通常ハガキ</div>
                </a>
            </div>
<div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/box-banner1.jpg"></div>
<div class="item_name">通常ハガキ2</div>
                </a>
            </div>
<div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/box-banner1.jpg"></div>
<div class="item_name">通常ハガキ3</div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/box-banner4.jpg"></div>
<div class="item_name">V折りハガキ</div>
                </a>
            </div>
<div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/box-banner4.jpg"></div>
<div class="item_name">V折りハガキ2</div>
                </a>
            </div>
<div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/box-banner4.jpg"></div>
<div class="item_name">V折りハガキ3</div>
                </a>
            </div>
        </div>

        <div class="col-sm-4 col-xs-6">
            <div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/box-banner7.jpg"></div>
<div class="item_name">Z折りハガキ</div>
                </a>
            </div>
<div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/box-banner7.jpg"></div>
<div class="item_name">Z折りハガキ2</div>
                </a>
            </div>
<div class="pickup_item">
                <a href="#">
                    <div class="item_photo"><img src="{{ app.config.front_urlpath }}/img/top/box-banner7.jpg"></div>
<div class="item_name">Z折りハガキ3</div>
                </a>
            </div>
        </div>
        </div>
       
        

    
</div>
</div>